In [21]:
a="Hello world"
b=[1,2,3,4,5]
c=34.567
d=(1,34,56)
print(a)
print(b)
print(c)
print(d)

Hello world
[1, 2, 3, 4, 5]
34.567
(1, 34, 56)

In [19]:
var1=" "
print(type(var1))
var2="[DS,ML,Python]"
print(type(var2))
var3=["DS","ML","Python"]
print(type(var3))
var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [22]:
#use of /
#it is used for division
print(4/2)
#use of %
#it is used for modular division
print(65%2)
#usage of //
#it is used for floor division
print(5//2)
#usage of **
#it is used for exponentiation
print(5**2)

2.0
1
2
25

In [24]:
a=[1,2+3j,3,True,5,6,"abcd",8.56,9,0]
for i in a:
    print(i,type(i))

1 <class 'int'>
(2+3j) <class 'complex'>
3 <class 'int'>
True <class 'bool'>
5 <class 'int'>
6 <class 'int'>
abcd <class 'str'>
8.56 <class 'float'>
9 <class 'int'>
0 <class 'int'>

In [12]:
a=12
b=2
count=0
while a%b==0:
    a=a/b
    count=count+1
print("A is divisible by B and it is divisible by %d times"%count)

A is divisible by B and it is divisible by 2 times

In [2]:
list=range(25)
for i in list:
    if (i%3)==0:
        print("%d is divisible by 3"%i)
    else:
        print("%d is not divisible by 3"%i)

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [16]:
#mutabilty means we change or append values to it
list=[1,2,3,4]
print(list)
list[2]=0
print(list)
#immutabity means we cannnot change or append values to it
a="hello"
a[2]="a"
print(a)

[1, 2, 3, 4]
[1, 2, 0, 4]

TypeError: 'str' object does not support item assignment